<section class="reset" style="margin-top: -38rem;">
    <div class="container" style="padding-right: 6rem;">
        <h2 style="font-family: IvyPresto Headline Reg;
        font-style: normal;
        font-weight: normal;
        font-size: 4rem;
        text-align: left;
        letter-spacing: .2px;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #2F2F2F;
        padding-bottom: .5rem;">Reset Password</h2>

            {% form 'reset_customer_password' %} {{ form.errors | default_errors}}

                <label for="password">Password</label>
                <input type="password" value="" name="customer[password]" size="16" style="margin-bottom: .5rem;"/>

                <label for="password_confirmation">Password Confirmation</label>
                <input
                type="password"
                value=""
                name="customer[password_confirmation]"
                size="16" style="margin-bottom: 1rem;"/>
        
                <button type="submit" style="background-color: transparent;
                border: #2F2F2F 1px solid;
                font-size: 1rem;
                font-family: 'Helvetica', sans-serif;
                color: #433E3F;
                text-transform: uppercase;
                font-weight: 400;
                font-style: normal;
                padding: .6rem;
                letter-spacing: .3px;
                margin-bottom: 1.5rem;
                width: 10%;">Reset</button>
            {% endform %} 
        
    </div>
</section>